* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container, [class*="col-"] {
  border: 1px solid red;
}

[class*="col-"] {
  background-color: pink;
  position: relative;
  height: 100%;
}

p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  height: 300px;
}

.row:last-child > .col-6 {
  padding: 5px;
}

.nested {
  background-color: lightcoral;
  border: 1px solid white;

}
